/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d7d7d7;
    color: #333;
}

/* Header */
.header {
    background-color: #77c152;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

.header .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h3 {
    margin: 0;
}

.logo-top img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Main container */
.main-container {
    width: 90%;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 1.8em;
    color: #196870;
    text-align: center;
    margin-bottom: 10px;
}

.message {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

/* Form */
.form-container {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group select,
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group button {
    background-color: #77c152;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.form-group button:hover {
    background-color: #66a944;
}

#qr_code_display {
    margin-top: 10px;
    color: #333;
}

/* Button Container */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-container .button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.button.guardar {
    background-color: #77c152;
    color: white;
}

.button.guardar:hover {
    background-color: #66a944;
}

.button.cancelar {
    background-color: #f58634;
    color: white;
}

.button.cancelar:hover {
    background-color: #e0762c;
}
