* Estilos generales */
body {
    background: rgba(0, 0, 0, 0.4) url("C:\Users\jorge\Desktop\Cbta.png") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #ffffff;
    text-align: center;
}

/* Estilos del contenedor */
.container {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
    border-radius: 10px;
    padding: 40px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); /* Sombra para resaltar el contenedor */
    color: #196870;
    animation: fadeIn 1s ease-in; /* Animación de entrada */
}

/* Animación de entrada del contenedor */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Estilo del título */
h1 {
    color: #77c152;
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Estilo del mensaje de bienvenida */
p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Estilo del mensaje de confirmación */
.message {
    display: none;
    margin-top: 20px;
    color: #77c152;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
}

/* Estilo del recordatorio */
.reminder {
    font-size: 0.9em;
    color: #f58634;
    margin-top: 10px;
}

/* Estilo de la hora */
.time {
    font-size: 1.1em;
    margin-top: 15px;
    font-weight: bold;
}

/* Estilos del botón de escaneo */
.scan-button {
    background-color: #77c152;
    color: #ffffff;
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1.1em;
    transition: background-color 0.3s, transform 0.3s;
}

.scan-button:hover {
    background-color: #66a945;
    transform: scale(1.05); /* Efecto de agrandamiento */
}

.scan-button:active {
    transform: scale(0.98); /* Efecto de compresión al hacer clic */
}

/* Media queries para diseño responsivo */
@media (max-width: 768px) {
    .container {
        padding: 30px;
        width: 95%;
    }

    h1 {
        font-size: 1.8em;
    }

    .scan-button {
        padding: 10px 25px;
    }
}
